  :root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --start-gold-color: #FFCE3e;
  
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(
      var(--header-height) - var(--navbar-height)
    );
    --header-sort-bar-height: 46px;
  }
  
  * {
    box-sizing: inherit;
  }
  
  html {
    font-size: 15px;
    text-decoration:none;
    line-height: 16px;
    
    box-sizing: border-box;
  }
  
  /* Responsive */
  
  .grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
  }
  
  /* Test */
  .grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.667%;
  }
  
  .grid__colum-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
  }
  
  .grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.334%;
  }
  
  /* Animation */
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes growth {
    from {
      transform: scale(var(--growth-from));
    }
    to {
      transform: scale(var(--growth-to));
    }
  }
  
  /* Modal */
  
  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
  }
  
  .modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal__body {
    --growth-from: 0.7s;
    --growth-to: 1s;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
  }
  
  .btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    // border: none;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    // color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 16px;
    // background-color: #fff;
  }
  
  .btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
  }
  
  .btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
  }
  
  .btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
  }
  
  /* Selection input */
  .select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .select-input__label {
    font-size: 14px;
  }
  
  .select-input__icon {
    font-size: 14px;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
  }
  
  .select-input:hover .select-input__list{
    display: block;
  }
  
  .select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 10px 16px;
    list-style: none;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
  }
  
  
  .select-input__link {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
    display: block;
    padding: 8px 0;
  }
  
  .select-input__link:hover{
    color: var(--primary-color);
  }
  
  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .pagination-item{
    margin: 0 12px;
  }
  
  .pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
  }
  
  .pagination-item--active .pagination-item__link:hover{
    filter: brightness(110%);
  }
  
  .pagination-item__link{
    --height: 30px;
    text-decoration: none;
    font-size: 2px;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    display: block;
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
  }

  .shipment-info{
    background: #ddd3;
    height: 100vh;
    vertical-align: middle;
    display: flex;
    font-size: 14px;
    
    .card {
      margin: auto;
      width: 100%;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-top: 3px solid rgb(252, 103, 49);
      border-bottom: 3px solid rgb(252, 103, 49);
      border-left: none;
      border-right: none
    }
    
    @media(max-width:768px) {
      .card {
        width: 90%
      }
    }
    
    .title {
      color: rgb(252, 103, 49);
      font-weight: 600;
      margin-bottom: 2vh;
      padding: 0 8%;
      font-size: initial
    }
    
    #details {
      font-weight: 400
    }
    
    .info {
      padding: 10px 8%
    }
    
    .info .col-5 {
      padding: 0
    }
    
    #heading {
      color: grey;
      line-height: 6vh
    }
    
    .pricing {
      background-color: #ddd3;
      padding: 2vh 8%;
      font-weight: 400;
      line-height: 2.5
    }
    
    .pricing .col-3 {
      padding: 0
    }
    
    .total {
      padding: 2vh 8%;
      color: rgb(252, 103, 49);
      font-weight: bold
    }
    
    .total .col-3 {
      padding: 0
    }
    
    .footer {
      padding: 0 8%;
      font-size: x-small;
      color: black
    }
    
    .footer img {
      height: 5vh;
      opacity: 0.2
    }
    
    .footer a {
      color: rgb(252, 103, 49)
    }
    
    .footer .col-10,
    .col-2 {
      display: flex;
      padding: 3vh 0 0;
      align-items: center
    }
    
    .footer .row {
      margin: 0
    }
    
    #progressbar {
      margin-bottom: 3vh;
      overflow: hidden;
      color: rgb(252, 103, 49);
      padding-left: 0px;
      margin-top: 3vh
    }
    
    #progressbar li {
      list-style-type: none;
      font-size: x-small;
      width: 33%;
      float: left;
      position: relative;
      font-weight: 400;
      color: rgb(160, 159, 159)
    }
    
    #progressbar #step1:before {
      content: "";
      color: rgb(252, 103, 49);
      width: 5px;
      height: 5px;
      margin-left: 0px !important
    }
    
    #progressbar #step2:before {
      content: "";
      color: #fff;
      width: 5px;
      height: 5px;
      margin-left: 50% !important
    }
    
    #progressbar #step3:before {
      content: "";
      color: #fff;
      width: 5px;
      height: 5px;
      margin-right: 0;
    }
    
    #progressbar li:before {
      line-height: 29px;
      display: block;
      font-size: 12px;
      background: #ddd;
      border-radius: 50%;
      margin: auto;
      z-index: -1;
      margin-bottom: 1vh;
      width: 100%;
    }
    
    #progressbar li:after {
      content: '';
      height: 2px;
      background: #ddd;
      position: absolute;
      left: 0%;
      right: 0%;
      margin-bottom: 2vh;
      top: 1px;
      z-index: 1
    }
    
    .progress-track {
      padding: 0 8%
    }
    
    #progressbar li:nth-child(2):after {
      float: left;
      width: 50%;
    }
    
    #progressbar li:nth-child(1):after {
        margin: auto
    }
    
    #progressbar li:nth-child(3):after {
        float: left;
    }
    
    #progressbar li.active {
      color: black;
      background-color: inherit !important;
    }
    
    #progressbar li.active:before,
    #progressbar li.active:after {
      background: rgb(252, 103, 49)
    }
  }

.user-shipment-list{
  .leaderboard {
    max-width: 400px;
    width: 100%;
    border-radius: 12px;
    
    header {
      --start: 15%;
      height: 50px;
      background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, .33) 10%, rgba(54, 89, 219, .33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
      color: #fff;
      position: relative;
      border-radius: 12px 12px 0 0;
      overflow: hidden;
      
      .leaderboard__title {
        color: white;
        z-index: 2;
        margin-top: 10px;
        
        span {
          display: block;
        }
        
        &--top {
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 6.5px;
        }
        
        &--bottom {
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 3.55px;
          opacity: .65;
          transform: translateY(-2px);
        }
      }
      
      .leaderboard__icon {
        fill: #fff;
        opacity: .35;
        width: 50px;
        position: absolute;
        top: 50%;
        left: var(--start);
        transform: translate(-50%, -50%);
      }
    }
    
    &__profiles {
      background-color: #fff;
      border-radius: 0 0 12px 12px;
      padding: 15px 15px 20px;
      display: grid;
      row-gap: 8px;
    }
    
    &__profile {
      display: grid;
      grid-template-columns: 1fr 2fr 2fr;
      align-items: center;
      padding: 5px 15px 5px 5px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
      cursor: pointer;
      transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
      background-color: #fff;
      
      &:hover {
        transform: scale(1.2);
        box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
      }
    }
    
    &__picture {
      max-width: 100%;
      width: 60px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
    }
    
    &__name {
      color: #979cb0;
      width: 175 px;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0.64px;
      margin-left: 12px;
    }
    
    &__value {
      color: #35d8ac;
      font-weight: 700;
      font-size: 34px;
      text-align: right;
      
      & > span {
        opacity: .8;
        font-weight: 600;
        font-size: 13px;
        margin-left: 3px;
      }
    }
  }
  
  body {
    margin: 0;
    background-color: #eaeaea;
    display: grid;
    height: 100vh;
    place-items: center;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .leaderboard {
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);
  }
}
